<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=Config::get('site_name');?></title>
</head>
<body>
    <h3>HEADER WILL BE HERE</h3>

    <?=$data['content'];?>

    <br>
    <br>

    <?=__('lng.text', 'defaul value')?> --- запрос с имеющимся ключом в языковом списке есть и в en и в fr.<br>
    <?=__('lng.text2', 'defaul value')?> --- запрос с имеющимся ключом в языковом списке 2 есть только в fr в en будет выведен default текст.<br>


    <h3>FOOTER WILL BE HERE</h3>
</body>
</html>